<style>
</style>
<div class='ic-progress-bar-border'>
  <div class='ic-progress-bar-container'>
    <div class='ic-progress-bar-fill' 
      {{bind-attr style=widthStyle}}
      {{bind-attr title=textPercentage}}>
    </div>
  </div>
</div>
<div class='ic-progress-label'>
  {{yield}} {{#if appendLabel}}{{textPercentage}}{{/if}}
</div>
